.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 56px);
    background: linear-gradient( #0694c6,#baffff );
    
    .registerbox{
        padding: 20px;
        background-color: #fff;
        width: 750px;
        min-height: 500px;
        border-radius: 10px;

        .user {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            a, h1 {
                margin: 0 10px;
            }
        }
    }
    
}
input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.text-danger {
    color: red;
}

.submit-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}