<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse headnav" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <div class="dropdown" *ngIf="isLoggedIn">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-circle profile"></i>
            </button>
            <ul  class="dropdown-menu p-2 dropdwn">
              <div class="text-center r-1"><img src="https://img.icons8.com/color/40/000000/guest-female.png"
                width="30" class="img1" /></div>
              <li routerLink="portal/profile"><button class="dropdown-item mt-2" type="button">Manage your Profile</button></li>
              <li><button class="dropdown-item mt-2" type="button" (click)="logout()">Logout</button></li>
            </ul>
          </div>
          <li *ngIf="!isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li *ngIf="!isLoggedIn" class="nav-item">
            <a class="nav-link" routerLink="register">SignUp</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>