<div class="box">
    <div class="registerbox">
        <div class="user">
            <h2>Sign-Up</h2>
            <p>Fill out the form carefully for registration</p>
        </div>
        <div class="m-auto w-75" *ngIf="userForm!=null">
            <form [formGroup]="userForm">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3 ">
                            <label class="w-50">Name :</label>
                            <div>
                                <input type="text" class="form-control" placeholder="Enter name" name="name"
                                    formControlName="name">
                                <small class="text-danger"
                                    *ngIf="this.userForm.controls.name.hasError('required') && this.userForm.controls.name.touched">
                                    This field is required.*
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3 ">
                            <label class="w-50">Email :</label>
                            <input type="email" class="form-control" placeholder="Enter email" name="email"
                                formControlName="email">
                            <div
                                *ngIf="this.userForm.controls.email && this.userForm.controls.email.invalid && this.userForm.controls.email.touched">
                                <small class="text-danger" *ngIf="this.userForm.controls.email.hasError('required')">
                                    This field is required.*
                                </small>
                                <small class="text-danger" *ngIf="this.userForm.controls.email.hasError('email')">
                                    Enter in email format.*
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="w-50">Password :</label>
                            <input type="password" class="form-control" placeholder="Enter password" name="password"
                                formControlName="password">
                            <div
                                *ngIf="this.userForm.controls.password && this.userForm.controls.password.invalid && this.userForm.controls.password.touched">
    
                                <small class="text-danger" *ngIf="this.userForm.controls.password.hasError('required')">
                                    This field is required.*
                                </small>
    
                                <small class="text-danger" *ngIf="this.userForm.controls.password.hasError('pattern')">
                                    Password must contain: a-z, A-Z, 0-9, Special char *
                                </small>
    
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="w-50">Confirm Password</label>
                            <input type="password" class="form-control" placeholder="Enter password" name="password"
                                formControlName="confirmPassword">
                            <div
                                *ngIf="(userForm.controls.confirmPassword.dirty || userForm.controls.confirmPassword.touched)">
    
                                <small class="text-danger" *ngIf="this.userForm.controls.confirmPassword.errors?.['required']; else pMisMatch">
                                    This field is required.*
                                </small>
    
                                <ng-template #pMisMatch>
                                    <small class="text-danger" *ngIf="userForm.errors?.['passwordMismatchError']">
                                        *Password Doesn't matches
                                    </small>
                                </ng-template>
    
                            </div>
                        </div>
                    </div>

                </div>
    
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="w-50">City :</label>
                            <input type="city" class="form-control" placeholder="Enter city" name="city"
                                formControlName="city">
                            <div
                                *ngIf="this.userForm.controls.city && this.userForm.controls.city.invalid && this.userForm.controls.city.touched">
                                <small class="text-danger" *ngIf="this.userForm.controls.city.hasError('required')">
                                    This field is required.*
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="w-50">Country :</label>
                            <input type="country" class="form-control" placeholder="Enter country" name="country"
                                formControlName="country">
                            <div
                                *ngIf="this.userForm.controls.country && this.userForm.controls.country.invalid && this.userForm.controls.country.touched">
                                <small class="text-danger" *ngIf="this.userForm.controls.country.hasError('required')">
                                    This field is required.*
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label  class="w-50">Phone :</label>
                            <input type="number" class="form-control" placeholder="Enter phone number" name="phone"
                                formControlName="phone">
                            <div
                                *ngIf="this.userForm.controls.phone && this.userForm.controls.phone.invalid && this.userForm.controls.phone.touched">
                                <small class="text-danger" *ngIf="this.userForm.controls.phone.hasError('required')">
                                    This field is required.*
                                </small>
                                <small class="text-danger" *ngIf="this.userForm.controls.phone.hasError('pattern')">
                                    Enter 10 digit Phone Number.*
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label class="w-50">Address :</label>
                            <input type="address" class="form-control" placeholder="Enter address" name="address"
                                formControlName="address">
                            <div
                                *ngIf="this.userForm.controls.address && this.userForm.controls.address.invalid && this.userForm.controls.address.touched">
                                <small class="text-danger" *ngIf="this.userForm.controls.address.hasError('required')">
                                    This field is required.*
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="submit-part">
                    <button *ngIf="!isShowSBtn" type="submit" class="btn btn-primary" (click)="submit()"
                        [disabled]="userForm.invalid">Submit</button>

                    <button *ngIf="isShowSBtn" class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </button>
    
                    <div class="">
                        Already have an account? <a routerLink="/login" class="">Sign in</a>
                    </div>
                </div>
            </form>
    
        </div>
    </div>
</div>